*{
    padding: 0%;
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgrey;
    text-decoration: none;
}
body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.a{
    text-decoration: none;
    color: aliceblue;
    size:15px;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: black;
    line-height: 15px;
}
header{
    width: 100%;
    height: 60px;
}
.auid{
    display: flex;
    margin-left: 10%;
}
.brandname{
    width: 200px;
    border: 2px solid white;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
   margin: auto;
}
.car1{
    background-color: black;
    margin-left: 40%;
    height: 370px;
    width:250px;
    border: 5px solid white;
    cursor: pointer;
}
.car1:hover{
    background-color: blue;
    opacity: 0.2;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
}
.auid1{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url(auid\ r8.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.car1text{
    text-align: center;
    font-weight: bolder;
}
.auid2{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url(audi-rs7.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;
}
.auid3{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url(audiq8.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;
}
.gape{
    width: 75%;
    height: 0px;
    margin: auto;
    border: 2px solid gray;
    border-radius: 9px;
}
.mercedes1{
    background-color: azure;
    height: 280px;
    width: 220px;
    background-image: url("Mercedes-AMG\ GT\ 63\ S\ E.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.mercedes2{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("2024\ Mercedes-Benz\ E-Class.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.mercedes3{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("Mercedes-AMG\ SL\ 63\ E.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.bmw1{
    background-color: azure;
    height: 280px;
    width: 220px;
    background-image: url("BMW\ XM.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.bmw2{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("BMW\ M8.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.bmw3{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("BMW\ X6\ M\ Competition.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.porsche1{
    background-color: azure;
    height: 280px;
    width: 220px;
    background-image: url("Porsche\ 911\ Turbo\ S.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.porsche2{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("Porsche\ 911\ GT3\ RS.webp");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.porsche3{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("Porsche\ Taycan\ Turbo\ S.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.rr1{
    background-color: azure;
    height: 280px;
    width: 220px;
    background-image: url("Rolls-Royce\ Phantom.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.rr2{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("Rolls-Royce\ Ghost.png");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}
.rr3{
    background-color: azure;
    height: 290px;
    width: 220px;
    background-image: url("Rolls-Royce\ Cullinan.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: 7%;
    margin-top: 5%;   
}